
html
{
    font-family: 'Poppins', sans-serif;
}
nav
{
    position: absolute;
    width: 99vw;
    display: flex;
    align-items: center;
    background-color: #ff000000;
    justify-content: space-between;
}
nav a
{
    color: white;
    font-size: 1.5em;
    font-style: italic;
    text-decoration: none;
    margin: 0 10px 0 10px;
}
#logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 20px;

}
#logo h1{
    font-size: 1.5em;
    font-weight: 900;
}
#logo img
{
    width: 150px;
}
#social
{
    margin: 10px;
}
.icons
{
    width: 50px;
}
/***********section slider****************/
#slider
{
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#slider h1
{
    font-size: 5em;
    color: white;
    font-weight: 900;
}
#slider h2
{
    font-size: 3em;
    color: white;
    font-weight: 500;
}
#slider span
{
    background-color: #f2f21d;
    padding: 20px;
    margin-top: 100px;
    color: black;
    font-size: 1.5em;
    font-style: italic;
}

/****section travels****/
#travels
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}
.cards
{
    width:25%;
    height:300px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#card1
{
    background-image: url(../img/ciudad_mexico.JPG);   
}
#card2
{
    background-image: url(../img/madrid.JPG);   
}
#card3
{
    background-image: url(../img/new_york.JPG);   
}
#card4
{
    background-image: url(../img/beijing.JPG);   
}
#card5
{
    background-image: url(../img/buenos_aires.JPG);   
}
#card6
{
    background-image: url(../img/tokyo.JPG);   
}
#data
{
    display: flex;
    height: 80px;
    background-color: #ffff0000;
    justify-content: flex-end;
}
#price
{
    height: 80px;
    background-color: yellow;
    /* position: absolute; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#price p{
    font-size: 1.5em;
    font-weight: 900;
}
#save
{
    width: 100%;
    background-color: #001161;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#save p{
    font-weight: 900;
}
#destination
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 900;
}
#destination p{
    margin-top: 10px;
}
/**About***/
#about
{
    height: 70vh;
    background-image: url(../img/about-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
article
{
    width: 500px;
    background-color: white;
    padding: 20px;
    margin-right: 50px;

}
#about h1
{
    font-size: 1.5em;
}
#about article h1::after{
    content: "";
    width: 30%;
    height: 4px;
    background-color: #FFEB3B;
    display: block;
  }
#about input
  {
    padding: 20PX;
    background-color: #020225;
    color: YELLOW;
    margin-top: 20PX;
    border: 0px;
  }
/******Contact***********/
#contact
{
    display: flex;
    flex-wrap: wrap;
}
#form,#map{
    width: 49vw;
}
#form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
input[type="text"]
 {
    border: 2px solid #ececec;
    margin-top: 20px;
    height: 40px;
 }
 input[type="text"]:nth-child(even)/*Regla para que a todos los inputs de tipo texto que sean elementos pares les de un margen a la izquierda*/
 {
     margin-left: 40px;
 }
 textarea
 {
    border: 3px solid #ececec;
    width: 100%;
    margin-top: 20px;
 }
 input[type="button"]
 {
    background-color: rgb(242, 242, 29);
    /* margin-top: 100px; */
    color: black;
    font-size: 1.5em;
    font-style: italic;
    padding: 20px;
    border: 0px;
 }
 /******Newsletter**********/
 
 #newsletter
 {
    display: flex;
    height: 300px;
    background-color: #020225;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 #newsletter div
 {
     display: flex;
 }
 div#information {
    flex-direction: column;
}
 #form-news
 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }
 .titulo
 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
 }
 /***Footer**/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top: 2px solid black;
    background-color: #020225;
    color: white;
} 
